<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <!-- Servlets -->
    <servlet>
        <servlet-name>gwtServlet</servlet-name>
        <servlet-class>ru.gwtstudy.gwtApp.server.GwtAppServiceImpl</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>gwtServlet</servlet-name>
        <url-pattern>/gwtApp/gwtAppService</url-pattern>
    </servlet-mapping>

    <!-- Default page to serve -->
    <welcome-file-list>
        <welcome-file>GwtApp.html</welcome-file>
    </welcome-file-list>



</web-app>

<!--
Указан сервлет, по какому паттерну он будет мапиться, а так же страница входа после загрузки сервера

Дескриптор развертывания веб-приложений описывает классы, ресурсы и конфигурацию приложения,
а так же как сервер будет использовать их для выполнения веб-запросов. Когда сервер получает запрос для приложения,
он использует дескриптор развертывания для отображения URL запроса к коду, который должен этот запрос обработать.-->